{% extends "registrasion/base.html" %}
{% load lca2018_tags %}

{% block header_title %}Buy Your Ticket{% endblock %}
{% block header_paragraph %}Step {{ current_step }} of {{ total_steps|add:1 }} &ndash; {{ title }} {% endblock %}

{% block scripts_extra %}
  {% for section in sections %}
    {{ section.form.media.js }}
  {% endfor %}
<script type="text/javascript">
    postcode_label = $("label[for='id_profile-state']");
    postcode_help = $("#id_profile-state + p");
      $('#id_profile-country').change(function () {
        if ($(this).val() == 'AU' )  {
          postcode_label.addClass('label-required');
          postcode_help.show();
        } else {
          postcode_label.removeClass('label-required');
          postcode_help.hide();
        } });
        $("#id_profile-country").change();

      </script>

{% endblock %}

{% block proposals_body %}

  <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% for section in sections %}
    <h2>{{ section.title }}</h2>

    {% if section.description %}
    <blockquote>{{ section.description|safe }}</blockquote>
    {% endif %}

    <fieldset>
        {% if section.discounts %}
          {% include "registrasion/discount_list.html" with discounts=section.discounts %}
        {% endif %}

        {% include "_form_snippet.html" with form=section.form %}

        <br />
      </fieldset>
        {% endfor %}

      {% if current_step > 1 %}
      <a class="btn btn-primary" role="button" href="{{ previous_step }}">Back</a>
      {% endif %}
      <input class="btn btn-primary" type="submit" value="Next Step" />
  </form>


{% endblock %}
