{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block body_class %}reviews{% endblock %}

{% block body_outer %}
<div class="text-primary">
    <div class="sidebar-wrapper">
        <div class="sidebar mr-5">
            <div class="collapser mb-3">
                <div id="sidebarBtn"><span class="oi oi-menu"></span></div>
            </div>
            {% block sidebar %}
            {% for section in review_sections %}

            <div class="card card-default mb-3">
                <div class="card-header">
                    <h3 class="card-title">{{ section }}</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item review-list" href="{% url "review_section" section.section.slug %}">
                        {% trans "All Reviews" %}
                    </a>
                    {% comment %}
                    <li>
                        <a href="{% url "review_section_assignments" section.section.slug %}">
                            {% trans "Your Assignments" %}
                        </a>
                    </li>
                    {% endcomment %}
                    <a class="list-group-item user-reviewed" href="{% url "user_reviewed" section.section.slug %}">
                        {% trans "Reviewed by you" %}
                    </a>
                    <a class="list-group-item user-not-reviewed" href="{% url "user_not_reviewed" section.section.slug %}">
                        {% trans "Unreviewed by you" %}
                    </a>
                    <a class="list-group-item user-random" href="{% url "user_random" section.section.slug %}">
                        {% trans "Random unreviewed proposal" %}
                    </a>
                    <a class="list-group-item voting-status" href="{% url "review_status" section.section.slug %}">
                        {% trans "Voting Status" %}
                    </a>
                    {% if request.user.is_staff %}
                    <a class="list-group-item review-results" href="{% url "result_notification" section.section.slug 'accepted' %}">Result Notification</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div style="flex: 1 1 0; min-width: 40px;">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
{% block extra_script %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/datatables.min.css"/>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/datatables.min.js"></script>
<script type="text/javascript">
    var reviewtable = $("table.table-reviews").DataTable({
        "stateSave": true,
        "autoWidth": false,
        "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
        "pageLength": 100,
        "colReorder": true,
         "columnDefs": [
            { targets: [6,7,8,9,10], visible: false}
        ],  
        "buttons": [{
              extend: 'collection',
              text: 'Export',
              buttons: ["copy", "csv", "print"]
            },
            { extend: 'collection',
              text: 'Columns',
              buttons: [
                { extend: 'columnsToggle',
                  columns: '.toggle' },
                { extend: 'columnToggle',
                  text: 'Vote details',
                  columns: '.votes'
    }]}]});
    reviewtable.buttons().container().prependTo( $(reviewtable.table().container() ));
</script>
<script>
$(document).ready(function () {

$('#sidebarBtn').on('click', function () {
    $('.sidebar').toggleClass('active');
});

});
</script>
{% endblock %}
