{% extends "utility_page.html" %}
{% load static %}
{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block main_class %}container-fluid{% endblock %}
{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js" async></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
crossorigin=""></script>
{% endblock %}

{% block alert %}
{% if flatpage.content %}
<div class="row">
  <div class="col-12 bg-primary text-secondary p-3 content">
    <strong>Important Announcement: </strong>{{ flatpage.content }}
  </div>
</div>
{% endif %}
{% endblock %}

{% block body_out %}
<div class="row">
  <div class="col-12">
    <div class="content">
      <h1 class="text-primary text-upper" id="loe-wrapper" style="z-index: 1;">
        Linux <br />
        <span id="of">of</span><br />
        <span id="word" style="color: #ccd5c5;"></span>
      </h1>

      <canvas id="hero" style="z-index: -1;" width="0" height="0"></canvas>
      <div>
          <h1 id="things-heading" class="text-primary text-upper">Things</h1>
      </div>

      <div class="text-primary" id="bottom-wrapper" style="z-index: 1;">
        <h2>21-25<br/>Jan 19<br/></h2>
        <h4><small>University of Canterbury<br/>Christchurch, New Zealand</small></h4>
      </div>
      <a id="register-link" class="btn btn-secondary border-primary text-primary" href="/tickets/register">Register</a>

    </div>
  </div>
</div>

<div class="row bg-primary text-secondary ">
  <div class="sidescroll-container">
    <div class="col-12 sidescroll dragscroll">
      <div><img src="{% static 'assets/tram.jpg' %}" /></div>
      <div><img src="{% static 'assets/playground.jpg' %}" /></div>
      <div><img src="{% static 'assets/gardens.jpg' %}" /></div>
      <div><img src="{% static 'assets/memorial.jpg' %}" /></div>
    </div>
  </div>

  <div class="col-12 col-xl-6 content pt-5 pb-xl-5">
    <p>
      Themed <strong>Linux of Things</strong>, the 2019 linux.conf.au will again attract speakers and attendees from across the world to socialise, fraternise, lecture, listen, ask, answer and share with their peers.
    </p>
    <p>
      The conference will explore the use of free open source software and hardware for internet of things devices, along with security concerns, privacy and legal aspects, environmental impacts, everyday communication, health, ethics, and much more.
    </p>

  </div>

  <div class="col-12 col-xl-6 content pt-xl-5 pb-5">
    <p>
      The <strong>Internet of Things</strong> has become ubiquitous in our lives – phones, TVs, fridges cars, homes and whole cities have become “smart” in the last couple of years.
    </p>
    <p>
      Behind this is an ever-increasing demand for always connected sensors and devices, exchanging, collating and analysing data, and often making decisions without us even noticing.
    </p>
    <p>
      Linux, with its lightweight footprint and robust security, and importantly its open source nature, has become a core component in this: Linux of Things
    </p>
  </div>

  <div class="col-12 content homepage-venue pt-xl-5 pt-2">
    <h2>Venue</h2>
    <p>University&nbsp;of&nbsp;Canterbury<br/>Christchurch, New&nbsp;Zealand</p>
  </div>
</div>
<div id="map"></div>
{% endblock %}

{% block extra_body %}
<script src="{% static 'js/lot_word.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lot_hero.js' %}" type="text/javascript"></script>
<script>
  var map = L.map('map',
  {
    scrollWheelZoom: false
  }).setView([-43.5235, 172.5839], 18);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
</script>
{% endblock %}