{% extends "site_base.html" %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}
{% block body_class %}text-primary{% endblock body_class %}
{% block main_class %}container{% endblock main_class %}


{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1>Miniconfs</h1>
    <p>The first two days of linux.conf.au are made up of dedicated day-long streams focussing on single topics. They are organised and run by volunteers and are a great way to kick the week off.</p>
    <p>First introduced at linux.conf.au 2002, they are now a traditional element of the conference. They were originally intended as an incubator &mdash; both of future conferences and speakers.</p>
    <p>The schedule of talks at the miniconfs can be found in the <a href="/schedule/">Conference Schedule.</a></p>
    <p>Although delegates who present at Miniconfs are not afforded speaker privileges at the main conference, speaking at a Miniconf is a great way to gain experience, provide exposure for your project or topic, and raise your professional profile.</p>

    <h2>Monday</h2>
    <div class="card-deck">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Open Hardware</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
            <p>More info</p>
          </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Sysadmin</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <p>More info</p>
          </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Security, Identity & Privacy</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <p>More info</p>
          </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Developer Developer</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <p>More info</p>
          </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">LCA Games</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <p>More info</p>
        </div>
      </div>
    </div>

    <h2>Tuesday</h2>
    <div class="card-deck">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Open Education</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer">
              <p>More info</p>
            </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Art & Tech</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
              <p>More info</p>
            </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Kernel</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
              <p>More info</p>
            </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Docs Down Under</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
              <p>More info</p>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}