{% load lca2018_tags %}
{% load lca2019_tags %}
{% load waffle_tags %}


{% for row in timetable %}
{% if forloop.last %}
{% else %}
{% for slot in row.slots %}
<div class="mobile-slot my-3" style="border-bottom: 1px solid #CCD5C5;">
  {% if forloop.first %}
    <h3>{{ row.time|date:"h:iA" }}</h3>
  {% endif %}
  {% with slot.kind.label.lower as label %}
  {% if label == "talk" or label == "tutorial" %}
  {% if slot.content %}
  <p><a href="{% url "schedule_presentation_detail" slot.content.pk %}">{{ slot.content.title }}</a></p>
  <p>{{ slot.content.speakers|join:", "}}</p>
  {% listlookup timetable.rooms forloop.counter0 as value %}
  <p><em>Theatre {{ value }}<br />ends {{ slot.end  }}</em></p>
  {% endif %}
  {% else %}
  <p>{{ slot.kind.label }}</p>
  {% endif %}
  {% endwith %}
</div>
{% endfor %}
{% endif %}
{% endfor %}

