{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load lca2019_tags %}
{% load staticfiles %}

{% if user.is_staff %}
<div class="container mb-4">
  <div class="row">
    <div class="col-12 text-primary">
      <h2>{% trans "Administration" %}</h2>
      <p>The following administrative tools are available to you:
        <ul class="list-unstyled">
          <li><a href="{% url "reports_list" %}">Reports</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="container mb-4">
  <div class="row">
    <div class="col-12 text-primary">
      <h2>{% trans "Attend" %} {% conference_name %}</h2>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    {% if not user.attendee.completed_registration %}
    <div class="col-12 text-primary">
      <h3>Register</h3>
      <p>To attend the conference, you must create an attendee profile and purchase your ticket</p>
      <div class="mt-auto">
        <a class="btn btn-primary" role="button" href="{% url "guided_registration" %}">Get your ticket</a>
      </div>
    </div>
    </div>
  </div>
</div>
    {% else %}
    <div class="col-md-6 my-3 text-primary d-flex flex-column">
      <h3>Attendee Profile</h3>
      <p>If you would like to change the details on your badge or your attendee statistics, you may edit your attendee profile here.</p>
      <div class="mt-auto">
        <a class="btn btn-lg btn-primary" role="button" href="{% url "attendee_edit" %}">Edit attendee profile</a>
      </div>
    </div>
    <div class="col-md-6 my-3 text-primary d-flex flex-column">
      <h3>Account Management</h3>
      <p>If you would like to change your registered email address or password, you can use our self-service account management portal</p>
      <div class="mt-auto">
        <a class="btn btn-lg btn-primary" role="button" href="https://login.linux.conf.au/manage/">Account Management</a>
      </div>
    </div>
  </div>
</div>

<div class="container my-4 py-4 text-primary">
  <div class="row">
    {% items_pending as pending %}

    <div class="col-12">
      <h2>Account</h2>
    </div>

    {% if pending %}
    <div class="col-6 my-3 d-flex flex-column">
      <h4>Items pending payment</h4>
      {% include "registrasion/_items_list.html" with items=pending %}
      <a class="btn btn-lg btn-primary" role="button" href="{% url "checkout" %}">Check out and pay</a>
    </div>
    {% endif %}

    {% items_purchased as purchased %}
    {% if purchased %}
    <div class="col-md-6 my-3 d-flex flex-column">
      <h4>Paid Items</h4>
      {% include "registrasion/_items_list.html" with items=purchased %}
    </div>
    {% endif %}

    <div class="col-md-6 my-3 d-flex flex-column">
      <h4>Add/Update Items</h4>
      {% include "registrasion/_category_list.html" with categories=categories %}
    </div>

    {% invoices as invoices %}
    {% if invoices %}
    <div class="col-md-6 my-3 d-flex flex-column">
      <h4>Invoices</h4>
      <ul>
        {% for invoice in invoices %}

        <li{% if invoice.is_void %} class="void-invoice" style="display: none;"{% endif %}>
          <a href="{% url "invoice" invoice.id %}" >Invoice {{ invoice.id }}</a> - ${{ invoice.value }} ({{ invoice.get_status_display }})
        </li>
        {% endfor %}
      </ul>
      {% if invoices|any_is_void %}
      <div class="mt-auto">
        <button id="toggle-void-invoices" onclick="toggleVoidInvoices();" class="btn btn-lg btn-default">Show void invoices</button>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% available_credit as credit %}
    {% if credit %}
    <div class="col-md-6 my-3 text-primary d-flex flex-column">
      <h4>Credit</h4>
      <p>You have ${{ credit }} leftover from refunded invoices. This credit will be automatically applied to new invoices. Contact the conference organisers to for a refund to your original payment source.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endif %} {# user.attendee.completed_registration #}
