<h3 class="text-upper">New Proposal</h3>
<p>Click one of the following links to create a speaking or miniconf proposal.</p>
<p>Once submitted you will be able to see the status of your proposals, as well manage the submission and co-speakers from this page</p>
<div class="mt-auto">
  {% for kind in proposal_kinds %}
  <a class="btn btn-lg btn-primary" role="button" href="{% url "proposal_submit_kind" kind.slug %}">{{ kind }}</a>
  {% endfor %}
</div>