{% extends "utility_page.html" %}
{% load staticfiles %}
{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load staticfiles %}


{% block head_title %}Dashboard{% endblock %}
{% block header_lead %}User Dashboard{% endblock %}
{% block main_class %}{% endblock %}

{% block content %}

{% available_categories as categories %}
<div class="container mb-5">
  <h1 class="text-primary">Dashboard</h1>
</div>

{% if categories %} 
  {% include "symposion/dashboard/_categories.html" %}
{% endif %}
  

<div class="container mb-5">
  {% include "symposion/dashboard/speaking.html" %}
</div>


{% if user.speaker_profile %}
{% if user.speaker_profile.proposals.exists %}
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-primary my-5">Your Proposals</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="card-deck">
              {% for proposal in user.speaker_profile.proposals.all %}
		  {% include "symposion/proposals/_proposal_row.html" %}
              {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endif %}


{% if user.speaker_profile %}
{% associated_proposals as associated_proposals %}
{% pending_proposals as pending_proposals %}
{% if associated_proposals or pending_proposals %}
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-primary my-5">Copresenter Proposals</h2>
    </div>
  </div>
  <div class="row">
    {% for proposal in associated_proposals %}
    {% include "symposion/proposals/_proposal_row.html" %}
    {% endfor %}
    {% for proposal in pending_proposals %}
    {% include "symposion/proposals/_pending_proposal_row.html" %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}

{% if review_sections %}
<div class="container text-primary mb-5">
<div class="row">
  <h2 class="col-12 my-5">{% trans "Reviews" %}</h2>
  {% for section in review_sections %}
  <div class="col-md-6">
    <h3>{{ section }}</h3>
          <ul class="list-unstyled">
            <li><a href="{% url "review_section" section.section.slug %}">All</a></li>
            <li><a href="{% url "user_reviewed" section.section.slug %}">Reviewed by you</a></li>
            <li><a href="{% url "user_not_reviewed" section.section.slug %}">Not Reviewed by you</a></li>
          </ul>
          {% if section in manage_sections %}
          <ul class="list-unstyled">
            <li><a href="{% url "review_bulk_update" section.section.slug %}">Bulk Update</a></li>
            <li><a href="{% url "result_notification" section.section.slug "accepted" %}">Send notifications</a></li>
            <li><a href="{% url "review_status" section.section.slug %}">Voting Status</a></li>
            <li><a href="{% url "review_admin" section.section.slug %}">Reviewer Stats</a></li>
          </ul>
          {% endif %}
  </div>
  {% endfor %}
{% endif %}
</div>
</div>

{% available_teams as available_teams %}
{% if user.memberships.exists or available_teams %}
<div class="container text-primary mb-5">
  <div class="row">
    <h2 class="col-12 my-5">{% trans "Teams "%}</h2>
    {% if user.memberships.exists %}
    </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary">Your Teams</h3>
      <div class="card-deck">
      {% for membership in user.memberships.all %}
			{% include "symposion/teams/_team_row.html" with team=membership.team %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>


<div class="container">
  <div class="row">
    {% if available_teams %}
    <div class="col-12">
	<h3 class="text-primary my-5">Available Teams</h3>
    </div>
	<div class="col-12">
	    <div class="card-deck">
		{% for team in available_teams %}
		    {% include "symposion/teams/_team_row.html" %}  
		{% endfor %}
	    </div>
	</div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %} <!-- block content -->

{% block scripts_extra %}
<script type="text/javascript">
  var _toggleVoidInvoices = function() {
    var visible = false;
    function toggleVoidInvoices() {
      $btn = $("#toggle-void-invoices");
      $invoices = $(".void-invoice")
      
      if (visible) {
        $invoices.hide();
        btnText = "Show void invoices";
      } else {
        $invoices.show();
        btnText = "Hide void invoices";
      }
      $btn.text(btnText);
      visible = !visible;
      return true;
    }
    return toggleVoidInvoices;
  }
  var toggleVoidInvoices = _toggleVoidInvoices();
  _toggleVoidInvoices = undefined;
</script>
{% endblock %}
