{% load staticfiles %}
{% load i18n %}
{% load sitetree %}
{% load sass_tags %}


<!DOCTYPE html>



<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>


  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="linux.conf.au 2019" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'assets/social.png' %}" />
  <meta property="og:image:alt" content="linux.conf.au 21-25 Jan 2019 Christchurch"   />


  {% block styles %}
  <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
  {% block extra_style %}{% endblock %}
  {% endblock %}


  {% block extra_head_base %}
  {% block extra_head %}{% endblock %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block template_overrides %}{% endblock %}
  <header class="clearfix hidden-print">
      {% block alert %}{% endblock %}
      {% block navbar %}{% include 'nav.html' %}{% endblock %}
  </header>

  {% if messages %}
  <div class="container my-5 alert alert-light bg-primary text-secondary">
    <ul class="messagelist hidden-print list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <main role="main" class="{% block main_class %}container{% endblock %}">
    <h1 class="text-primary text-upper h2 mb-5">{% block page_title %}{% endblock %}</h1>

    {% block body_base %}
    {% block body_out %}

    <div class="row">
      <div class="col-md-12">
        {% block body_outer %}
        {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% endblock %}

    {% block footer_base %}
    {% block footer %}
    {% endblock %}
    {% endblock %}

    {% block scripts %}
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% if settings.ANALYTICS_KEY %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.ANALYTICS_KEY }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ settings.ANALYTICS_KEY }}');
      </script>
    {% else %}
      <!--no-analytics-->
    {% endif %}
    {% block extra_script %}
    {% endblock %}
    {% block scripts_extra %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}
    {% endblock %}
  </main>

  <footer class="bg-white text-primary py-xl-5 py-2 {%block footer_class %}{% endblock %}">
    <p>
        <small class="float-right">
            &copy; 2018 linux.conf.au <br />
            and Linux Australia. <br />
            Linux is a registered <br />
            trademark of Linus Torvalds.
          </small>
      <strong>linux.conf.au</strong> <br/>
      21-25 Jan 2019<br />
      Christchurch, NZ<br />
      <a href="mailto:contact@lca2019.org">contact@lca2019.org</a>
      </p>
      <p>
      <a class="a-img" href="mailto:contact@lca2019.org" rel="noopener" aria-label="E-Mail">
        <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" focusable="false"><title>E-Mail</title>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path fill="currentColor" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
        </svg>
      </a>
      <a class="a-img" href="https://twitter.com/linuxconfau" target="_blank" rel="noopener" aria-label="Twitter">
        <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 416.32" focusable="false"><title>Twitter</title>
          <path d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92" fill="currentColor"></path>
        </svg>
      </a>
      <a class="a-img" href="https://www.facebook.com/linuxconferenceaustralia/posts/" target="_blank" rel="noopener" aria-label="Facebook">
        <svg class="navbar-nav-svg {% if color == 'green' %} text-white{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.893 266.895" focusable="false"><title>Facebook</title>
          <path id="Blue_1_" fill="currentColor" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
            c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
            H248.082z"/>
          <path id="f" fill="#FFFFFF" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
            l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
            v99.803H182.409z"/>
        </svg>
      </a>
    </p>
  </footer>
</body>
</html>
